.sidebar{
   height: 80vh;
   background-color: #eba28c5b;
}
.filter-bar{
   height: 95vh;
   background-color: #eba28c5b;  
}
.admin-panel,.filter-panel{
   clear: both;
}
.panel-item{
   text-decoration: none;
   color: black !important;
}
.panel-option{
   background-color: #ff6a3d;
   border-bottom: 1px solid white;
   font-weight: 300;
}
.add-product,.filter-product{
   float: right;
   clear: left;
   background-color: rgba(255, 244, 240, 0.404);
}
