.navbox{
   background-color: #1a2238;
   z-index: 1000;
}
.navpart ul{
   font-weight: 300;
   list-style: none;
}
.orange-btn{
   color:#ff6a3d;
   border: 1px solid #ff6a3d !important;
}
.orange{
   color: #ff6a3d;
}
.orange-btn:hover{
  background-color: #ff6a3d !important;
  color: white !important; 
}
.yellow{
   color: #f4db7d;
}
.orange-bg{
   background-color: #ff6a3d;
}
.letter-logo{
   margin-left: 33%;
   margin-right: 33%;
   padding: 1%;
   font-weight: 600;
}
.fw-500{
   font-weight: 500;
}
.set-cnt{
   position: absolute;
   padding-left: 5px;
   padding-right: 5px;
   font-size: 1rem;
   margin-top: -44px;
   margin-left: 21px;
   background-color: red;
}

